body{
    background-color:lightsteelblue;
}

.flex-box{
    display: flex;
    padding-left: 100px;
    margin: auto;

}

#header{
    padding-top: 50px;
    padding-left: 50px;
}
.profile-photo {
  width: 30%;
  max-width: 20px;
  height: auto;
  border-radius: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-top: 30px;
}

.button-group {
    margin-top: 15px;
    display: flex;
    gap: 10px; /* space between buttons */
    justify-content: center; 
}

.link-button {
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: cornflowerblue;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}

.nav-item {
  font-size: 18px;
  color: #333;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s;
}

.nav-item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  background-color: #4CAF50;
  transition: width 0.3s ease;
}

.nav-item:hover {
  color: #4CAF50;
}

.nav-item:hover::after {
  width: 100%;
}
