body{
    background-color:lightsteelblue;
}

.flex-box{
    display: flex;
    padding-left: 100px;
    margin: auto;

}

#header{
    padding-top: 50px;
    padding-left: 50px;
}
.button-group {
    margin-top: 15px;
    display: flex;
    gap: 10px; /* space between buttons */
    height: 50px;
}

.link-button {
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: cornflowerblue;
}